<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title><%= title %></title>
  <meta name="description" content="" />
  <meta name="author" content="admin" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="frontend/images/favicon.png" />
  <link rel="stylesheet" href="frontend/css/bootstrap.css" />
  <link href="frontend/css/font-awesome.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="frontend/css/owl.carousel.css" />
  <link rel="stylesheet" href="frontend/css/custom.css" />
  <link rel="stylesheet" href="frontend/css/responsive.css" />
  <link rel="stylesheet" href="frontend/css/animate.css" media="all" />

</head>

<body>
  <header class="header">
    <div class="container">
      <div class="hdr-sec">
        <div class="logo-sec">
          <a class="logo" href="/"><img src="frontend/images/logo.png" alt="" /></a>
        </div>

        <div class="rght-hdr">

          <div class="menu-sec">
            <nav class="navbar navbar-static-top">
              <div class="collapse navbar-collapse top_nav" id="navigation">
                <ul class="nav navbar-nav">
                  <li class="current-menu-item active">
                    <a href="#buying-sec">Buying</a>
                  </li>
                  <li>
                    <a href="#contact-sec">Selling</a>
                  </li>
                  <li>
                    <a href="/about">About Us</a>
                  </li>
                </ul>
                <div class="rightnav-menu nav-toggle" onclick="openNav()">
                  <img src="frontend/images/sidemenu-icon.png">
                </div>
                <!-- side toggle menu -->
                <div id="mySidenav" class="sidenav nav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <ul class="mobilemenu">
                    <li class="active"><a href="#buying-sec">Buying</a></li>
                    <li><a href="#contact-sec">Selling</a></li>
                    <li><a href="/about">About</a></li>
                  </ul>
                </div>
                <!-- side toggle menu -->
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end header -->
  <!-- banner -->
  <section class="ban_sec">
    <div class="ban_img">
      <img src="uploads/<%= aboutData.banner_image %>" alt="aboutbanner">
    </div>
    <div class="aboutban_txt">
      <div class="container">
        <div class="ban_txt_inner">
          <%- aboutData.banner_content %>
        </div>
      </div>
    </div>
  </section>
  <!-- end banner -->


  <!-- start section-1 -->
  <section id="features" class="commn_outr">
    <div class="container">
      <div class="commn-hdr white-txt wow fadeInDown">
        <h3><%= aboutData.about_title %></h3>
      </div>
      <div class="baout-body text-center wow fadeInRight" data-wow-delay="0.2s">
       <%- aboutData.about_content %>
      </div>
    </div>
  </section>

  <!-- start team section -->
  <section id="teaminfo" class="commn_outr">
    <div class="container">
      <div class="commn-hdr white-txt wow fadeInDown">
        <h3><%= aboutData.meet_team_heading %></h3>
      </div>
      <% include ./partials/teams %>
      

    </div>
  </section>
  <!-- End team section -->

  <section id="whyforward" class="commn_outr">
    <div class="container-fluid flwewforward">
      <div class="whyforwardflex col4 wow fadeInRight animated" data-wow-delay="0.2s">
        <img src="uploads/<%= aboutData.why_forward_image %>">
      </div>
      <div class="whyforwardflex col8 text-left whyforward8 wow fadeInDown animated" data-wow-delay="0.4s">
        <div class="contact-head wow fadeInDown animated" data-wow-delay="0.4s">
          <h3><%= aboutData.why_forward_heading %></h3>
        </div>
        <%- aboutData.why_forward_content %>
      </div>
    </div>
  </section>

  <% include ./partials/testimonial %>
 

  <!-- footer sec -->
  <footer>
    <div class="footer-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="foolink-hesd">Main Links</div>
            <div class="footer-menu">
              <ul class="foo-nav">
                <li><a href="index.html#buying-sec">Buying</a></li>
                <li><a href="index.html#contact-sec">Selling</a></li>
                <li><a href="about.html">About Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="foolink-hesd">Contact Us</div>
            <div class="footer-nav">
              <ul>
                <li class="fooqlink-sec">
                  <img src="frontend/images/foo-phon-icon.png">
                  <p><a href="tel:02 9247 1061">02 9247 1061</a></p>
                </li>
                <li class="fooqlink-sec">
                  <img src="frontend/images/foo-email-icon.png">
                  <p><a href="mailto:admin@forwardbusiness.com.au">admin@forwardbusiness.com.au</a></p>
                </li>
                <li class="fooqlink-sec">
                  <img src="frontend/images/foo-location-icon.png">
                  <p>Level 10, 20 Martin Place, Sydney NSW 2000</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="foolink-hesd">Follow Us</div>
            <div class="footer-social-icon">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="footer-innr-barcode">
              <img src="frontend/images/ff-barcod2.png">
            </div>
            <div class="footer_logo">
              <a href="#">
                <img src="frontend/images/foo-logo.png" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="row copyrightsec">
          <div class="col-sm-12 col-md-12 text-center">
            <div class="foo-copyright">© 2018 Forward Business Sales and Acquisitions</div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a id="back2Top" title="Back to top" href="#" style="display: block;">➤</a>
  <!-- end footer sec -->
  <script src="frontend/js/jquery-2.2.4.min.js"></script>
  <script src="frontend/js/bootstrap.min.js"></script>
  <script src="frontend/js/owl.carousel.js"></script>
  <script type="text/javascript" src="frontend/js/wow.js"></script>
  <!--  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy6CsKM4FCvwK9ujIGje0H5CX1b_PfvIk"></script> -->
  <script src="frontend/js/wow.js"></script>
  <script src="frontend/js/css3-animate-it.js"></script>
  <script src="frontend/js/custom.js"></script>

</body>

</html>